[submodule "projects/airline-management"]
	path = Java/airline-management
	url = https://github.com/NL0711/Java_Project_airlinemanagementsystem.git
[submodule "WebDev/frontend-mentor"]
	path = WebDev/frontend-mentor
	url = https://github.com/NL0711/frontend-mentor-challenges.git
[submodule "WebDev/Flask/quiz-app"]
	path = WebDev/Flask/quiz-app
	url = https://github.com/NL0711/Quiz-app-proj.git
