[submodule "projects/airline-management"]
	path = Java/airline-management
	url = https://github.com/NL0711/Java_Project_airlinemanagementsystem.git
[submodule "WebDev/frontend-mentor"]
	path = WebDev/frontend-mentor
	url = https://github.com/NL0711/frontend-mentor-challenges.git
[submodule "WebDev/Flask/quiz-app"]
	path = WebDev/Flask/quiz-app
	url = https://github.com/NL0711/Quiz-app-proj.git
[submodule "Hackathons/codebreakers-kjsit-frontend"]
	path = Hackathons/codebreakers-kjsit-frontend
	url = https://github.com/NL0711/codebreakers-kjsit-frontend
[submodule "Hackathons/mkdocs-spam-out"]
	path = Hackathons/mkdocs-spam-out
	url = https://github.com/NL0711/mkdocs-spam-out
[submodule "WebDev/college-projects/SEB_EventFinder_NathashaLewis_10257"]
	path = WebDev/college-projects/SEB_EventFinder_NathashaLewis_10257
	url = https://github.com/NL0711/SEB_EventFinder_NathashaLewis_10257
