[submodule "projects/airline-management"]
	path = Java/airline-management
	url = https://github.com/NL0711/Java_Project_airlinemanagementsystem.git
[submodule "WebDev/frontend-mentor"]
	path = WebDev/frontend-mentor
	url = https://github.com/NL0711/frontend-mentor-challenges.git
[submodule "Hackathons/codebreakers-kjsit-frontend"]
	path = Hackathons/codebreakers-kjsit-frontend
	url = https://github.com/NL0711/codebreakers-kjsit-frontend
[submodule "Hackathons/mkdocs-spam-out"]
	path = Hackathons/mkdocs-spam-out
	url = https://github.com/NL0711/mkdocs-spam-out
[submodule "WebDev/college-projects/SEB_EventFinder_NathashaLewis_10257"]
	path = WebDev/college-projects/SEB_EventFinder_NathashaLewis_10257
	url = https://github.com/NL0711/SEB_EventFinder_NathashaLewis_10257
[submodule "Java/SpringBoot/postit-photos"]
	path = Java/SpringBoot/postit-photos
	url = https://github.com/NL0711/postit-photos
[submodule "WebDev/quiz-app-flask-proj"]
	path = WebDev/quiz-app-flask-proj
	url = https://github.com/NL0711/quiz-app-flask-proj
